@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Kosugi');
html {
  font-family: 'Kosugi', sans-serif;
  width: 99%;
  height: auto;
}

/*全体設定*/
body {
  background-color:#F7E456;
  margin: 0;
  width: 100%;
  height: auto;
}
.container {
  position: relative;
  padding-bottom: 95px;
  box-sizing: border-box;
  min-height: 85vh;
}

/*ヘッダー設定*/
header {
  background-color: #CC1035; /*ヘッダー全体の基本色です*/
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  z-index: 10;
}
/*ロゴ設定*/
.glogo {
  height: 50%;
  position: absolute;
  top: 5%;
  left: 5%;
}
.tlogo {
  height: 50%;
  position: absolute;
  top: 5%;
  right: 5%;
}
/*タブ設定*/
.headlines {
  margin-bottom: -16px;
  padding: 50px 0 0 0;
}
#hl {
  list-style: none;
  overflow: hidden;
}
#hl li .selectA {
  width: 18.5%;
  height: 250%;
  line-height: 250%;
  text-align: center;
  background-color: #4C4C4C; /*現在のタブの色です*/
  float: left;
  margin-right: 1%;
  border: 0;
}
#hl li .select {
  width: 18.5%;
  height: 200%;
  line-height: 200%;
  text-align: center;
  background-color:  #828282; /*現在のタブではないタブの色です*/
  float: left;
  margin-right: 1%;
  border: 0;
}
#hl li a button {
  text-decoration: none;
  color: #FFFFFD; /*ヘッダーの文字色です*/
  font-weight: bold;
}

/*メインコンテンツ設定*/
main {
  background-image: url("BackGround.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: static;
  margin: 106px auto;
  width: 95%;
  height: auto;
  background-color: #fff;
  min-height: 75vh;
}
/*ゲームロゴ＆キャッチコピー全体設定*/
.Titles
{
    width: 100%;
    height: 400px;
    margin-bottom: 10%;
}
/*ゲームロゴ設定*/
.glogomain
{
    width: 40%;
    position: absolute;
    transform: translate(0%, -50%);
    top: 770px;
    left: 10%;
}
/*キャッチコピー設定*/
.CC
{
    position: absolute;
    top: 550px;
    right: 48%;
    width: 40%;
    display: block;
    line-height: 1.5;
}
.CC p
{
   background: #dfefff;
  box-shadow: 0px 0px 0px 5px rgba(244, 215, 92, 0.8
    );
  border: dashed 1px rgba(244, 215, 92, 0.8);
  padding: 0.2em 0.5em;
    width: 100%;
    font-size: 200%;
    color: rgb(230, 230,230);/*キャッチコピーの文字色です*/
    text-align:center;
	line-height:0.95em;
	font-weight:bold;
	text-shadow: 0.02em 0.02em 0.02em rgba(0,0,0,1);
    word-wrap: break-word;
    background-color: rgba(244, 215, 92, 0.8
    );
    vertical-alig : bottom
}
/*お知らせ全体設定*/
.NT {
  width: 100%;
  height: 600px;
}
.NT li {
  list-style: none;
  float: left;
  width: 400px;
  height: 450px;
}
.NT h1 {
  color: #3A322F; /*"新着情報"と"Twitter"の文字色です*/
}
/*新着情報設定*/
#NB {
  margin-right: 15%;
}
.NewsBox {
  width: 400px;
  height: 450px;
}
.NewsBox iframe {
  width: 100%;
  height: 100%;
  background-color: #fff;
}
/*Twitter設定*/
.TwitterBox {
  width: 400px;
  height: 450px;
}
.TwitterBox h1 {
  margin-bottom: 35px;
}

/*フッター設定*/
footer {
  margin: 0;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
  background-color: #4C4C4C; /*フッター全体の基本色です*/
  z-index: 10;
}
/*ロゴ設定*/
.cmark {
  height: 50%;
  position: absolute;
  top: 25%;
  left: 2%;
}
footer p {
  position: absolute;
  top: 20%;
  left: 7%;
  color: #fff; /*フッターの文字色です*/
  font-weight: 200;
  font-size: 120%;
}
